h1 {
    text-align: center;
    font-variant: small-caps;
}

#container {
    width: 1200px;
    max-width: 95%;
    margin: 0 auto;
    background-color: #e3ecff;
    border-radius: 5px;
}

#weather-form {
    margin: 0 auto;
}

#weather-input {
    box-sizing: border-box;
    padding: 2px 10px;
    height: 35px;
    width: 400px;
    max-width: 80%;
}

#fahr {
    height: 35px;
    width: 35px;
}

#cel {
    height: 35px;
    width: 35px;
}

#submit {
    height: 35px;
    width: 80px;
}

#error-container {
    height: 0px;
    overflow: hidden;
    background-color: #ff6767;
    transition: height 0.4s ease-out;
}

#error-container.error-unhidden {
    transition: height 0.4s ease-out;
    height: 30px;

}

#error {
    padding: 5px;
    overflow: hidden;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 0.9em;
    color: #520100;
    text-align: center;
}

#search-info {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 0.9em;
    box-sizing: border-box;
    background-color: #ffffb2;
    padding: 10px;
    color: #3a3700;
}

#search-info p {
    margin: 0;
    text-align: center;
}

#weather {
    text-transform: capitalize;
}
